>네이버 금융의 국내증시 거래상위에 있는 종목 100개의 일주일간 매분 시세 저장해주기
- 화요일에는 7일전까지 자료가 나왔는데 금요일밤 해보니 월요일부터 나온다. 언제 초기화될까?

In [1]:
import requests
import bs4
import pandas as pd
import datetime

In [2]:
url = "http://finance.naver.com/sise/sise_quant.nhn"

In [3]:
res = requests.get(url)

In [4]:
parsed = bs4.BeautifulSoup(res.text, "html.parser")

In [5]:
name_t = []
name_n = []
for td in parsed.find_all(name = "td"):
    if str(type(td.find("a"))) != "<class 'NoneType'>":
        name_t.append(td.find("a").text)
        name_n.append(td.find("a"))

In [6]:
address = []
for n in name_n:
    address.append(str(n)[43:49])
    
thistime = []
time = []
now = datetime.datetime.now()
for t in range(7):
    thistime.append("{:0=4}{:0=2}{:0=2}{:0=2}{:0=2}{:0=2}".format(now.year,now.month,
                                      now.day-6+t, now.hour+15,now.minute,now.second)) 
    time.append("{:0=4}-{:0=2}-{:0=2}".format(now.year,now.month,
                                      now.day-6+t))

page = []
for p in range(42):
    page.append(p+1)

In [7]:
url1 = "http://finance.naver.com/item/sise_time.nhn?code={}&thistime={}&page={}"

In [9]:
df_list = []
count = 0
for n in range(len(address[0:2])):
    for t in range(len(thistime[4:6])):
        data= []
        for p in page:
            res1 = requests.get(url1.format(address[n],thistime[t+2],p))
            parsed1 = bs4.BeautifulSoup(res1.text, "html.parser")
            for td in parsed1.find_all(name = "td"):
                if str(type(td.find("span"))) != "<class 'NoneType'>":
                    count = count +1
                    if count//7*7 == count - 1:
                        data.append(name_t[n])
                        data.append(time[t])
                    data.append(td.find("span").text)
                
        for i in range(4,len(data),9):
            data[i] = int(data[i])
        for j in range(0,len(data),9):
            df_list.append(data[j:j+9])

df = pd.DataFrame(df_list, columns= ["종목명", "날짜", "체결시각", "체결가", "전일비", 
                                     "매도", "매수", "거래량", "변동량"])

In [10]:
df

,종목명,날짜,체결시각,체결가,전일비,매도,매수,거래량,변동량
0,한진해운,2016-09-04,15:58,"1,390",320,0,"1,390","172,242,525","10,932"
1,한진해운,2016-09-04,15:55,"1,390",320,0,"1,390","172,231,593","1,500"
2,한진해운,2016-09-04,15:54,"1,390",320,0,"1,390","172,230,093","30,638"
3,한진해운,2016-09-04,15:53,"1,390",320,0,"1,390","172,199,455","15,002"
4,한진해운,2016-09-04,15:52,"1,390",320,0,"1,390","172,184,453",103
5,한진해운,2016-09-04,15:51,"1,390",320,0,"1,390","172,184,350","1,569"
6,한진해운,2016-09-04,15:50,"1,390",320,0,"1,390","172,182,781",1
7,한진해운,2016-09-04,15:48,"1,390",320,0,"1,390","172,182,780","1,500"
8,한진해운,2016-09-04,15:47,"1,390",320,0,"1,390","172,181,280",6
9,한진해운,2016-09-04,15:46,"1,390",320,0,"1,390","172,181,274",200
10,한진해운,2016-09-04,15:45,"1,390",320,0,"1,390","172,181,074",20
11,한진해운,2016-09-04,15:44,"1,390",320,0,"1,390","172,181,054",300
12,한진해운,2016-09-04,15:43,"1,390",320,0,"1,390","172,180,754",3
13,한진해운,2016-09-04,15:42,"1,390",320,0,"1,390","172,180,751","2,100"
14,한진해운,2016-09-04,15:41,"1,390",320,0,"1,390","172,178,651",501
15,한진해운,2016-09-04,15:40,"1,390",320,0,"1,390","172,178,150","5,300"
16,한진해운,2016-09-04,15:30,"1,390",320,0,"1,390","172,172,850","68,491"
17,한진해운,2016-09-04,15:19,"1,390",320,0,"1,390","172,104,359","45,899"
18,한진해운,2016-09-04,15:18,"1,390",320,0,"1,390","172,058,460","34,532"
19,한진해운,2016-09-04,15:17,"1,390",320,0,"1,390","172,023,928","15,064"
20,한진해운,2016-09-04,15:16,"1,390",320,0,"1,390","172,008,864","6,885"
21,한진해운,2016-09-04,15:15,"1,390",320,0,"1,390","172,001,979","33,762"
22,한진해운,2016-09-04,15:14,"1,390",320,0,"1,390","171,968,217","88,272"
23,한진해운,2016-09-04,15:13,"1,390",320,0,"1,390","171,879,945","224,269"
24,한진해운,2016-09-04,15:12,"1,390",320,0,"1,390","171,655,676","2,203,966"
25,한진해운,2016-09-04,15:11,"1,390",320,0,"1,390","169,451,710","1,179,770"
26,한진해운,2016-09-04,15:10,"1,390",320,"1,390","1,385","168,271,940","978,552"
27,한진해운,2016-09-04,15:09,"1,380",310,"1,380","1,375","167,293,388","211,612"
28,한진해운,2016-09-04,15:08,"1,380",310,"1,380","1,375","167,081,776","109,092"
29,한진해운,2016-09-04,15:07,"1,380",310,"1,380","1,375","166,972,684","218,980"
...,...,...,...,...,...,...,...,...,...
1578,흥아해운,2016-09-05,09:08,"1,935",120,"1,935","1,930","12,111,985","986,019"
1579,흥아해운,2016-09-05,09:07,"1,910",95,"1,920","1,910","11,125,966","1,315,069"
1580,흥아해운,2016-09-05,09:06,"1,970",155,"1,970","1,965","9,810,897","581,023"
1581,흥아해운,2016-09-05,09:05,"1,955",140,"1,955","1,950","9,229,874","1,165,705"
1582,흥아해운,2016-09-05,09:04,"1,985",170,"1,985","1,980","8,064,169","1,233,995"
1583,흥아해운,2016-09-05,09:03,"2,005",190,"2,005","2,000","6,830,174","1,986,924"
1584,흥아해운,2016-09-05,09:02,"1,970",155,"1,970","1,965","4,843,250","1,619,500"
1585,흥아해운,2016-09-05,09:01,"1,925",110,"1,930","1,925","3,223,750","911,092"
1586,흥아해운,2016-09-05,09:00,"1,940",125,"1,940","1,935","2,312,658","2,312,658"
1587,흥아해운,2016-09-05,09:06,"1,970",155,"1,970","1,965","9,810,897","581,023"
1588,흥아해운,2016-09-05,09:05,"1,955",140,"1,955","1,950","9,229,874","1,165,705"
1589,흥아해운,2016-09-05,09:04,"1,985",170,"1,985","1,980","8,064,169","1,233,995"
1590,흥아해운,2016-09-05,09:03,"2,005",190,"2,005","2,000","6,830,174","1,986,924"
1591,흥아해운,2016-09-05,09:02,"1,970",155,"1,970","1,965","4,843,250","1,619,500"
1592,흥아해운,2016-09-05,09:01,"1,925",110,"1,930","1,925","3,223,750","911,092"
1593,흥아해운,2016-09-05,09:00,"1,940",125,"1,940","1,935","2,312,658","2,312,658"
1594,흥아해운,2016-09-05,09:06,"1,970",155,"1,970","1,965","9,810,897","581,023"
1595,흥아해운,2016-09-05,09:05,"1,955",140,"1,955","1,950","9,229,874","1,165,705"
1596,흥아해운,2016-09-05,09:04,"1,985",170,"1,985","1,980","8,064,169","1,233,995"
1597,흥아해운,2016-09-05,09:03,"2,005",190,"2,005","2,000","6,830,174","1,986,924"
1598,흥아해운,2016-09-05,09:02,"1,970",155,"1,970","1,965","4,843,250","1,619,500"
1599,흥아해운,2016-09-05,09:01,"1,925",110,"1,930","1,925","3,223,750","911,092"
1600,흥아해운,2016-09-05,09:00,"1,940",125,"1,940","1,935","2,312,658","2,312,658"
1601,흥아해운,2016-09-05,09:06,"1,970",155,"1,970","1,965","9,810,897","581,023"
1602,흥아해운,2016-09-05,09:05,"1,955",140,"1,955","1,950","9,229,874","1,165,705"
1603,흥아해운,2016-09-05,09:04,"1,985",170,"1,985","1,980","8,064,169","1,233,995"
1604,흥아해운,2016-09-05,09:03,"2,005",190,"2,005","2,000","6,830,174","1,986,924"
1605,흥아해운,2016-09-05,09:02,"1,970",155,"1,970","1,965","4,843,250","1,619,500"
1606,흥아해운,2016-09-05,09:01,"1,925",110,"1,930","1,925","3,223,750","911,092"
1607,흥아해운,2016-09-05,09:00,"1,940",125,"1,940","1,935","2,312,658","2,312,658"